<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chat.mapper">
	<insert id="createChat" parameterType="chatDto" >
		INSERT INTO CHATROOMS
		VALUES(CHATNOSEQ.NEXTVAL, #{roomid}, #{creatorid}, #{guestid}, SYSDATE)
	</insert>
	
	<select id="checkChatRoom" resultType="chatDto">
		SELECT ROOMID, CREATORID, GUESTID
		FROM CHATROOMS
		WHERE ROOMID = #{roomid}
	</select>
	
	<select id="showMessage" resultType="messageDto" >
		SELECT FROMID, TOID, MESSAGE, SENDDATE 
		FROM CHATMESSAGES
		WHERE ROOMID = #{roomid}
		ORDER BY SENDDATE ASC
	</select>
	
	<select id="showChatRoom" resultType="chatDto" >
		SELECT ROOMID, CREATORID, GUESTID, REGDATE
		FROM CHATROOMS
		WHERE CREATORID = #{guestid} OR GUESTID = #{guestid}
	</select>
	
	<insert id="saveMsg" parameterType="messageDto" >
		INSERT INTO CHATMESSAGES
		VALUES(CHATSEQ.NEXTVAL, #{roomid}, #{fromid}, #{toid}, #{message}, 'N', #{senddate})
	</insert>
	
	<select id="Num_unreadMsg" parameterType="messageDto">
		SELECT COUNT(CHATREAD) FROM CHATMESSAGES
		WHERE FROMID = #{fromid} AND TOID = #{toid} AND CHATREAD = 'N'
	</select>
	
	<update id="readMsg" parameterType="messageDto">
		UPDATE CHATMESSAGES 
		SET CHATREAD = 'Y'
		WHERE FROMID = #{fromid} AND TOID = #{toid} AND CHATREAD = 'N'
	</update>
</mapper>
